@font-face {
    font-family: 'Miriam Libre';
    src: url('MiriamLibre-Regular.woff2') format('woff2'),
        url('MiriamLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Miriam Libre';
    src: url('MiriamLibre-Bold.woff2') format('woff2'),
        url('MiriamLibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

